<% include partials/header %>
<h1>hello </h1>
<br>
<form method="post" action="/users/add">
	<label>name</label><br>
	<input type='text' name='name'><br>

	<label>age</label><br>
	<input type='integer' name='age'><br>

	<input type="submit" value="submit">
</form>
	


<% include partials/footer %>