<html>
<head>
    	<!--<link rel=stylesheet type=text/css href="/css/login.css">-->
      <script src="/js/js.cookie.js"></script>
            <script src="/js/jquery-min.js"></script>
</head>


<body>

<button onclick="goBack()">Close Ad</button>
<br>

<script>
function goBack() {
    window.history.back();
}
</script>

<img src="/images/a<%= ad %>.jpg" height=600px alt='beam ad'>



</body>
</html>