<html>
<head>
    	<!--<link rel=stylesheet type=text/css href="/css/login.css">-->
      <script src="/js/js.cookie.js"></script>
            <script src="/js/jquery-min.js"></script>

               <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script type="text/javascript" src="/js/css-pop.js"></script>
      <script src="/js/jquery-min.js"></script>
      <script src="/js/js.cookie.js"></script>
         <style>
           body {
              background: linear-gradient(to bottom right, white, rgb(216, 216, 216));
          }
        </style>
</head>



<body>

<div class="container">

<h1 class="bg-success" style="color:white">Final Bill</h1>

<div class="container">
	<table class="table table-bordered table-striped">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>price</th>
  </tr>
<%for (var i=0; i<items.length; i++){%>
	<tr><td> <%= items[i].name%> </td><td> <%= items[i].qty%></td> <td> Rs.<%=items[i].price%></td> </tr> 
<%}%>
</table>
</div>
<br>

<h3>Bill amount: Rs.<%=amount%></h3>

	<script>
		alert("Bill emailed. Thank you for shopping with us.");
	</script>

</div>
	</body>
</html>